# Latest Django 1.7 Stable, until 1.7 is released.
-e git+git://github.com/django/django.git@stable/1.7.x#egg=django
pytz==2013.9
sqlparse==0.1.11
unicode-slugify==0.1.1
django-countries==2.0
django-debug-toolbar==1.2
django-debug-toolbar-template-timings==0.6.1
django-filter==0.7
# Not strictly required, but we will definitely be using it eventually.
Pillow==2.3.1
django-floppyforms==1.2.0
# our own django-zenaida - @master until we reach a peggable point.
-e git+git://github.com/littleweaver/django-zenaida.git@master#egg=django-zenaida
stripe==1.14.0
requests==2.2.1
-e git+git://github.com/littleweaver/django-brambling.git@master#egg=django-brambling
psycopg2==2.5.3
